TRADING_MODE=PAPER
LIVE_TRADING_ENABLED=false
LIVE_CONFIRMATION=
TRADINGVIEW_ENABLED=true
TRADINGVIEW_CONFIRMATION_MODE=async
TRADINGVIEW_WEIGHT=0.00
TRADINGVIEW_TIMEOUT_MS=2500
TRADINGVIEW_CACHE_ENABLED=true
TRADINGVIEW_PINE_ENABLED=true
TRADINGVIEW_SCREENSHOT_ENABLED=false
